@using MHRBuildTool.Client.ClassLibraries
@inject NavigationManager Navigation

<div class ="row">
    <img src="@ImageUrl" alt="N/A" class="buildComponent col-sm-2" />
    <span class="col-sm-10 buildComponentText">@ArmorBuildcomponent</span>
</div>

@code {


    [Parameter]
    public EBuildComponent ArmorBuildcomponent{get; set; }

    private string ImageUrl = string.Empty;
    protected override void OnInitialized()
    {
        string baseUri = Navigation.BaseUri;
        ImageUrl = $"{baseUri}/icons/Icon{ArmorBuildcomponent}.png";
    }

}
