@using MHRBuildTool.Client.ClassLibraries
<h3>ArmorOverview</h3>

<div class="container">
    <BuildComponentCategory ArmorBuildcomponent=EBuildComponent.Weapon/>
    <BuildComponentCategory ArmorBuildcomponent=EBuildComponent.Head />
    <BuildComponentCategory ArmorBuildcomponent=EBuildComponent.Chest />
    <BuildComponentCategory ArmorBuildcomponent=EBuildComponent.Arms />
    <BuildComponentCategory ArmorBuildcomponent=EBuildComponent.Waist />
    <BuildComponentCategory ArmorBuildcomponent=EBuildComponent.Legs />
    <BuildComponentCategory ArmorBuildcomponent=EBuildComponent.Charm />
</div>
@code {
}
